<head>
    <meta name="decorator" content="atl.admin"/>
    <title>$i18n.getText("saml2plugin.admin.title")</title>
    $webResourceManager.requireResource("com.bitium.confluence.SAML2Plugin:admin-resources")
</head>
<body>
    #if ( $action.hasActionMessages() )
    <div class="aui-message closeable shadowed info">
        #foreach ( $actionMessage in $action.actionMessages )
            <p>$generalUtil.htmlEncode( $actionMessage )</p>
        #end
    </div>
    #end
    #if ( $action.hasActionErrors() )
    <div class="aui-message closeable error config_form_error">
        #foreach ( $actionError in $action.actionErrors )
            <p>$generalUtil.htmlEncode( $actionError )</p>
        #end
    </div>
    #end
<form class="aui config_form" name="saml2plugin-configure-form" method="POST"
      action="${req.contextPath}/admin/plugins/saml2plugin/doconfigure.action">
    #form_xsrfToken()

    #set($urlPrefix = "http://")
    #if ($req.secure)
        #set($urlPrefix = "https://")
    #end

    <div class="field-label">$i18n.getText("saml2plugin.admin.field.samlEndpoint")</div>
    <div class="config_form_copy_container">
        <input class="field-input" id="samlEndpoint" type="text" disabled="disabled"
               value="$urlPrefix${req.serverName}:${req.serverPort}${req.contextPath}/plugins/servlet/saml/auth">
        <input type="button" class="aui-button aui-button-primary config_form_copy" id="copy-button" value="Copy"/>
        <span id="endpoint-copied" class="config_form_copied">$i18n.getText("saml2plugin.admin.endpoint-copied")</span>
    </div>
    <div class="field-desc">$i18n.getText("saml2plugin.admin.field.samlEndpoint.desc")</div>
    <div class="field-label">$i18n.getText("saml2plugin.admin.field.loginUrl")</div>
    <input class="field-input" type="text" name="loginUrl" id="loginUrl" value="$generalUtil.htmlEncode( $loginUrl )"/>
    <div class="field-desc">$i18n.getText("saml2plugin.admin.field.loginUrl.desc")</div>
    <div class="field-label">$i18n.getText("saml2plugin.admin.field.logoutUrl")</div>
    <input class="field-input" type="text" name="logoutUrl" id="logoutUrl"
           value="$generalUtil.htmlEncode( $logoutUrl )"/>
    <div class="field-desc">$i18n.getText("saml2plugin.admin.field.logoutUrl.desc")</div>
    <div class="field-label">$i18n.getText("saml2plugin.admin.field.x509Certificate")</div>
    <textarea class="field-input" name="x509Certificate" id="x509Certificate"
              rows="10">$generalUtil.htmlEncode( $x509Certificate )</textarea>
    <div class="field-desc">$i18n.getText("saml2plugin.admin.field.x509Certificate.desc")</div>
    <div class="field-label">$i18n.getText("saml2plugin.admin.field.entityId")</div>
    <input class="field-input" type="text" name="entityId" id="entityId" value="$generalUtil.htmlEncode( $entityId )"/>
    <div class="field-desc">$i18n.getText("saml2plugin.admin.field.entityId.desc")</div>
    <div class="field-label">$i18n.getText("saml2plugin.admin.field.redirectUrl")</div>
    <input class="field-input" type="text" name="redirectUrl" id="redirectUrl"
           value="$generalUtil.htmlEncode( $redirectUrl )"/>
    <div class="field-desc">$i18n.getText("saml2plugin.admin.field.redirectUrl.desc")</div>
    <div class="field-label field-label-checkbox">
        <input type="checkbox" name="idpRequired" id="idpRequired" class="checkbox"
            #if ($idpRequired.equals("true"))
               checked
            #end>$i18n.getText("saml2plugin.admin.field.idpRequired")
    </div>
    <div class="field-desc field-desc-checkbox">$i18n.getText("saml2plugin.admin.field.idpRequired.desc")</div>
    <div class="field-label field-label-checkbox">
        <input type="checkbox" name="autoCreateUser" id="autoCreateUser" class="checkbox"
            #if ($autoCreateUser.equals("true"))
               checked
            #end>$i18n.getText("saml2plugin.admin.field.autoCreateUser")
    </div>

    <div class="field-desc field-desc-checkbox">$i18n.getText("saml2plugin.admin.field.autoCreateUser.desc")</div>

    <div class="field-label">Default User Group</div>
    <select class="field-select" name="defaultAutoCreateUserGroup" id="defaultAutoCreateUserGroup">
        #foreach( $group in $existingGroups )
            <option value="$group"
                #if ($defaultAutoCreateUserGroup.equals($group))
                    selected
                #end>$group</option>
        #end
    </select>
    <div class="field-desc">Auto created users will automatically be added to the selected user group</div>

    <div class="config_form_actions">
        <input class="aui-button aui-button-primary" type="submit"
               value="$i18n.getText('save.name')">
    </div>

</form>
</body>
</html>